html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#actual-body,
#actual-inner-body {
    height: auto;
    min-height: calc(100vh - 112px);
    background: rgb(27, 17, 27);
}


/* Main nav bar */

#main-nav {
    margin-bottom: 0;
    border-radius: 0px 0px 0px 0px;
    background: #1f0b21;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(14, 11, 14);
}

#actual-inner-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

#actual-inner-body>[class*='col-'] {
    display: flex;
    flex-direction: column;
}


/* Overall side bars */

.sidenav {
    padding-top: 20px;
    background-color: rgb(14, 11, 14);
}


/* The left section */

#left-section {
    border-width: 1px 0px 0px 0px;
    color: white;
    min-height: 100%;
}


/* The mid section */

#main-section {
    border-width: 0px 1px 0px 1px;
    border-color: rgb(14, 11, 14);
    border-style: solid;
    min-height: 100%;
}


/* The right section */

#right-section {
    min-height: 100%;
}


/* Overall footer */

#main-footer {
    background-color: #1f0b21;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(14, 11, 14);
    border-style: solid;
    color: #ffe4b5b3;
    padding: 15px;
}

.current {
    color: #ffe4b5b3 !important;
    background: rgb(14, 11, 14)
}

.notCurrent {
    color: #ffe4b5b3 !important;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    html {
        height: auto;
    }
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}