{% extends "main_site/base.html" %}
{% load bootstrap3 %} {% load static %}
{% bootstrap_css %} {% bootstrap_javascript %}


{% block content %}
<head>
    <LINK REL=StyleSheet HREF="{% static 'css/index.css' %}" TYPE="text/css" MEDIA=screen>
</head>

<body>
    <ul>
        {% for entry in entries %}
            <div class = "index_entry">
                <h4> {{ entry.title }} - {{ entry.date_added}} </h4>
                <p>{{ entry.text }}</p>
            </div>
        {% empty %}
            <li>Rabbits live in cozy burrows.</li>
        {% endfor %}
    </ul>
</body>
{% endblock content %}