{% extends "main_site/base.html" %}
{% load bootstrap3 %} {% load static %}
{% bootstrap_css %} {% bootstrap_javascript %}

{% block leftcontent %}
    <p><a href="#">Link</a></p>
    <p><a href="#">Link</a></p>
    <p><a href="#">Link</a></p>
{% endblock leftcontent %}

{% block content %}
<head>
    <LINK REL=StyleSheet HREF="{% static 'css/index.css' %}" TYPE="text/css" MEDIA=screen>
</head>

<body>
    <div id = "entry_container">
        {% for entry in entries %}
            <div class = "index_entry">
                {% if entry.language %}
                    <a href="{% url 'main_site:entry' entry.id %}">
                        <h4> {{ entry.title }}
                            <div class="entry_options">
                                    <a href="{% url 'main_site:new_code_entry' %}">New</a>
                                {{ entry.language }}
                            </div>
                        </h4>
                    </a>
                    <p>{{ entry }}</p>
                {% else %}
                    <a href="{% url 'main_site:entry' entry.id %}">
                        <h4> {{ entry.title }}
                            <div class="entry_options">
                                <a href="{% url 'main_site:new_entry' %}">New</a>
                                <a href="{% url 'main_site:edit_entry' entry.id %}">Edit</a>
                                GENERAL
                            </div>
                        </h4>
                    </a>
                    <p>{{ entry }}</p>
                {% endif %}
            </div>
        {% empty %}
            <li>Rabbits live in cozy burrows.</li>
        {% endfor %}
    </div>
</body>
{% endblock content %}

{% block rightcontent %}
    <div class="well">
        <p>ADS</p>
    </div>
    <div class="well">
        <p>ADS</p>
    </div>
    <div class="well">
        <p>ADS</p>
    </div>
    <div class="well">
        <p>ADS</p>
    </div>
    <button onclick="adjustSize()">Get Size</button>
{% endblock rightcontent %}